<header>
  <div class="head">
    <%= link_to blogs_path do %>
      <%= image_tag "logo.png", class: 'insta_logo' %>
    <% end %>

    <span><%= image_tag "recherche.png", class: 'recherche' %>rechercher</span>
    <%= link_to "#" do %>
      <%= image_tag "home.png", class: 'icon' %>
      <%= image_tag "add.png", class: 'icon' %>
      <%= image_tag "messenger.png", class: 'icon' %>
      <%= image_tag "explore.png", class: 'icon' %>
      <%= image_tag "like.png", class: 'icon' %>
      <%= image_tag "user.png", class: 'icon' %>
    <% end %>
  </div>
</header>

<main>
  <%= render 'form' %>
</main>
